<div id="nav" class="navigation">
    <div class="nav-item" *ngFor="let route of routes">
        <div class="visitable">
            <a [routerLink]="[route.path]" routerLinkActive="active">{{ route.title }}</a>
            <div *ngIf="route.children">
                <div *ngFor="let child of route.children" class="sub-nav-item">
                    <a [routerLink]="[child.path]" routerLinkActive="active">{{ child.title }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
