<div>
    <h1>Register with Username <!--, Google, Apple or Facebook--></h1>

    <!-- First, the user will select from one of 4 buttons: Username, Google, Apple or Facebook -->
    <div>
        <button (click)="setRegistrationType(RegistrationType.usernamePW)">Username / Password</button>
        <button (click)="setRegistrationType(RegistrationType.usernameOTP)">Username / OTP Code</button>
        <!-- <button (click)="setRegistrationType(RegistrationType.google)">Google</button>
        <button (click)="setRegistrationType(RegistrationType.apple)">Apple</button>
        <button (click)="setRegistrationType(RegistrationType.facebook)">Facebook</button> -->
    </div>

    <!-- Next, the user will see the form for the selected registration type -->
    <div *ngIf="registerType === RegistrationType.usernamePW">
        <form #formGroup="ngForm">
            <p><label>Username: <input type="text" name="username" [(ngModel)]="username" placeholder="Username" required /></label></p>
            <p><label>eMail: <input type="email" name="email" [(ngModel)]="email" placeholder="eMail" required /></label></p>
            <p><label>Password: <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required /></label></p>
            <p><label>Verify Password: <input type="password" name="vpassword" [(ngModel)]="vpassword" placeholder="Verify Password" required /></label></p>
            <div *ngIf="errors" class="errors"><p *ngFor="let error of errors">{{ error }}</p></div>
            <button [disabled]="!valid" type="submit" (click)="register()">Register</button>
        </form>
    </div>

    <div *ngIf="registerType === RegistrationType.usernameOTP">
        <form #formGroup="ngForm">
            <p>
                Scan the QR code with your Authenticator app to get the OTP code.
                <br />
                If you don't have an Authenticator app, you can download one from the App Store or Google Play.
            </p>
            <p><label>Username: <input type="text" name="username" (change)="validate()" [(ngModel)]="username" placeholder="Username" required /></label></p>
            <p><label>eMail: <input type="email" name="email" (change)="validate()" [(ngModel)]="email" placeholder="eMail" required /></label></p>
            <p><label>OTP Code:
                <input type="text"
                  name="otpcode"
                  (change)="validate()"
                  [(ngModel)]="otpcode"
                  [ngClass]="{valid: otpvalid, invalid: otpvalid === false}"
                  placeholder="OTP Code"
                  required />
                <button (click)="checkOTP()">Check OTP Code</button></label></p>
            <button (click)="genSecret()">GenSecret</button>
            <qrcode *ngIf="!!username" [qrdata]="otpUrl()" [width]="256" [errorCorrectionLevel]="'M'"></qrcode><br />
            <p>If you don't want to scan the QR code, you can manually enter this key to authenticate:</p>
            <label>Key: <code>{{ qrsecret }}</code></label><br />
            <label>Issuer: <code>KizanoStory</code></label><br />
            <div *ngIf="errors" class="errors"><p *ngFor="let error of errors">{{ error }}</p></div>
            <button [disabled]="!valid" type="submit" (click)="register()">Register</button>
        </form>
    </div>

    <!-- <div *ngIf="registerType === RegistrationType.google">
        <button (click)="googleLogin()">Google Login</button>
    </div>

    <div *ngIf="registerType === RegistrationType.apple">
        <button (click)="appleLogin()">Apple Login</button>
    </div>

    <div *ngIf="registerType === RegistrationType.facebook">
        <button (click)="facebookLogin()">Facebook Login</button>
    </div> -->
</div>
