<mz-navbar title="Characters"></mz-navbar>
<div class="character-list">
  <div *ngFor="let character of characters; let i = index" class="character-card">
    <a [href]="`/characters/${character.id}`">
      <img [src]="'/api/characters/image/' + character.id || placeholder" alt="{{ character.name }}" class="character-photo" />
      <div class="character-info">
        <h2>{{ character.name }}</h2>
        <div class="character-bio" [innerText]="character.bio || 'No bio provided.'"></div>
      </div>
    </a>
  </div>
</div>
